// Header styling

.header {
   padding-top: 20px;
  .wheat;
  
  @media (min-width: @screen-sm-min) {
    
    height: 500px;
    padding-top: 100px; 
    
    background: url(../img/header.jpg) no-repeat center;
    border-bottom: 5px white solid;
  }
}

.logo-header {
  background: url(../img/logo-wheat.png) no-repeat center center;
  background-size: contain;
  height: 100px;

  
  @media (min-width: @screen-sm-min) {
    background: url(../img/logo-wheat.png) no-repeat center center;
    background-size: contain;
    height: 140px;

  }
}

.logo {
  background: url(../img/logo-wheat.png) no-repeat center center;
  background-size: contain;
  height: 100px;
  @media (min-width: @screen-sm-min) {
    
    height: 140px;
  }
}

.heading {
  padding-top: 20px;
}


.intro-text {
  
  @media (min-width: @screen-sm-min) { 
    top: 5%;
    height: 95%;    
  }
}

.flag {
  width: 50%;
  margin: 0 auto;
  
    @media (min-width: @screen-sm-min) {
      width: 100px;
    }
}


.navbar-title {
  color: #777;
}


