// Uni main styling and positioning

html {
  width: 100%;
  min-height: 100%;
  
  //  make scrollbar always visible
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
  
  position: relative;
}

body {
  width: 100%;
  min-height: 100%;
  padding-top: 50px; // so navbar does not overlay content
  margin-bottom: 0px;
  
  // use custom font on whole website
  .fontface;
  
  
  background: url(../img/bg4.jpg) #fff top center;
  background-size: cover;
  background-attachment: fixed;
  
    @media (min-width: @screen-sm-min) {
      background: url(../img/bg4.jpg) #fff top center;
      background-size: cover;
      background-attachment: fixed;
      
      margin-bottom: 100px;
    }
  
    @media (min-width: @screen-md-min) {
      background: url(../img/bg4.jpg) #fff top center;
      background-size: cover;
      background-attachment: fixed;
    }
  
    @media (min-width: @screen-lg-min) {
      background: url(../img/bg4.jpg) #fff top center;
      background-size: cover;
      background-attachment: fixed;
    }
}


.fontface {
  font-family: Museo300;
}

.fontcolor {
  color: white;
}

// hide scrollbar
::-webkit-scrollbar { 
    //display: none; 
}
// div centering
.centered {
  float: none;
  margin: 0 auto;
}

#content {
  display: none;
  min-height: 100%;
  
  @media (min-width: @screen-sm-min) {
    // place for stcky footer
    margin-bottom: 140px;
  }
}

.footer {
  background: #fff;
  margin-top: 20px;
  width: 100%;

  @media (min-width: @screen-sm-min) {
    margin-top: 20px;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
  
  }


}

.displaytable {
  display: table;
}
